<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="script_Templates.js"></script>
    <link rel="stylesheet" href="/Join/style_sidebar.css">
</head>
<body onload="init()">
    
</body>
</html>

<div id="sidebar">
    <div id="sidebar_logo"><img src="/Join/assets/img/Join_Logo.png" alt=""></div>
    <div id="sidebar_categories">
        <div id="sidebar_categories_summary" class="sidebar_category">
            <div class="sidebar_category_line">
            <div id="sidebar_categories_summary_Icon" class="category_img"><img src="assets/img/Icon_Summary.png"
                    alt=""></div>
            <a href="summary.html" id="sidebar_categories_summary_Text">Summary</a>
        </div>
        </div>
        <div id="sidebar_categories_board" class="sidebar_category active_category">
            <div class="sidebar_category_line">
            <div id="sidebar_categories_board_Icon" class="category_img"><img src="assets/img/Icon_Board.png" alt="">
            </div>
            <a href="board.html" id="sidebar_categories_board_Text">Board</a>
            </div>
        </div>
        <div id="sidebar_categories_addTask" class="sidebar_category">
            <div class="sidebar_category_line">
            <div id="sidebar_categories_addTask_Icon" class="category_img"><img src="assets/img/Icon_Add_Task.png"
                    alt=""></div>
            <a href="add_task.html" id="sidebar_categories_addTask_Text">Add Task</a>
            </div>
        </div>
        <div id="sidebar_categories_contacts" class="sidebar_category">
            <div class="sidebar_category_line">
                <div id="sidebar_categories_contacts_Icon" class="category_img"><img src="assets/img/Icon_Contacts.png"
                        alt=""></div>
                <a href="contacts.html" id="sidebar_categories_contacts_Text">Contacts</a>
            </div>
        </div>
    </div>
    <div id="sidebar_policies">
        <a href="data_security.html">Privacy Policy</a>
        <a href="legal_notice.html">Legal notice</a>
    </div>
</div>

<div id="topbar">
    <div id="topbar_text">

    </div>
    <div id="topbar_icons">
        <div id="topbar_Icons_help">
            <img src="/Join/assets/img/Icon_help.png" alt="">
        </div>
        <div id="topbar_Icons_Username">
            
        </div>
    </div>
</div>