<form class="addTaskContainer" onsubmit="createTask(event); return false;">
  <h2 id="test">Add Task</h2>
  <div class="addTaskSubContainer">
    <div class="addTaskContainerSides">
      <div class="addTaskContainerBoxes">
        <p class="addTaskLabels">Title</p>
        <input
          id="title"
          class="inputsAddTask height51 padding"
          required
          placeholder="Enter a title"
        />
      </div>
      <div class="addTaskContainerBoxes">
        <p class="addTaskLabels">Description</p>
        <textarea
          id="description"
          class="inputsAddTask padding"
          required
          placeholder="Enter a description"
        ></textarea>
      </div>
      <div class="addTaskContainerBoxes">
        <p class="addTaskLabels">Category</p>
        <div id="category" class="inputsAddTask">
        </div>
        <div id="newCategoryDotsContainer"></div>
        <div id="categoryAlert" class="alert"></div>
      </div>
      <div class="addTaskContainerBoxes">
        <p class="addTaskLabels">Assigned to</p>
        <div id="contactContainer" class="inputsAddTask">
        </div>
        <div id="contactAlert" class="alert"></div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="addTaskContainerSides">
      <div class="addTaskContainerBoxes">
        <p class="addTaskLabels">Due Date</p>
        <input
          id="dueDate"
          class="inputsAddTask height51 padding hover"
          type="date"
          required
          placeholder="dd/mm/yyyy"
        />
      </div>
      <div class="addTaskContainerBoxes">
        <p class="addTaskLabels">Prio</p>
        <div id="prioContainer">
          <button
            id="urgent"
            type="button"
            onclick="assignPrio('urgent')"
            class="prio height51 hover"
          >
            Urgent <img src="assets/img/urgent.png" />
          </button>
          <button
            id="medium"
            type="button"
            onclick="assignPrio('medium')"
            class="prio height51 hover"
          >
            Medium <img src="assets/img/medium.png" />
          </button>
          <button
            id="low"
            type="button"
            onclick="assignPrio('low')"
            class="prio height51 hover"
          >
            Low <img src="assets/img/low.png" />
          </button>
        </div>
        <div id="prioAlert" class="alert"></div>
      </div>
      <div class="addTaskContainerBoxes">
        <p class="addTaskLabels">Subtasks</p>
        <div>
          <div class="addSubTask height51">
            <input id="inputSubtask" placeholder="Add new subtask" />
            <div class="buttonAddSubTask hover" onclick="addSubTask()">
              <img src="assets/img/plus.png" />
            </div>
          </div>
          <div id="subTasks"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="finalizeTask">
    <div id="popupNotice" class="buttonAddTask">Task added to Board</div>
    <button type="button" onclick="clearTask()" class="buttonAddTask clear hover">
      Clear <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
        <path d="M12.0011 12.5001L17.2441 17.7431M6.75806 17.7431L12.0011 12.5001L6.75806 17.7431ZM17.2441 7.25708L12.0001 12.5001L17.2441 7.25708ZM12.0001 12.5001L6.75806 7.25708L12.0001 12.5001Z" stroke="#2A3647" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </button>
    <button type="submit" class="buttonAddTask create hover">
      Create Task <img src="assets/img/check.svg" />
    </button>
  </div>
</form>

