<form class="addTaskContainer" onsubmit="createTask(); return false;">
  <h2>Add Task</h2>
  <div class="addTaskSubContainer">
    <div class="addTaskContainerSides">
      <div class="addTaskContainerBoxes">
        <p class="addTaskLabels">Title</p>
        <input
          id="title"
          class="inputsAddTask height51"
          required
          placeholder="Enter a title"
        />
      </div>
      <div class="addTaskContainerBoxes">
        <p class="addTaskLabels">Description</p>
        <textarea
          id="description"
          class="inputsAddTask"
          required
          placeholder="Enter a Description"
        ></textarea>
      </div>
      <div class="addTaskContainerBoxes">
        <p class="addTaskLabels">Category</p>
        <select
          class="inputsAddTask height51"
          name="taskCategory"
          id="taskCategory"
        >
          <option value="" disabled selected hidden>
            Select task category
          </option>
          <option value="backoffice">Backoffice</option>
          <option value="design">Design</option>
          <option value="marketing">Marketing</option>
          <option value="media">Media</option>
          <option value="sales">Sales</option>
        </select>
      </div>
      <div class="addTaskContainerBoxes">
        <p class="addTaskLabels">Assigned to</p>
        <select
          class="inputsAddTask height51"
          name="contactToAssign"
          id="contactToAssign"
        >
          <option value="" disabled selected hidden>
            Select contacts to assign
          </option>
          <option value="tbd">tbd</option>
        </select>
      </div>
    </div>
    <div class="divider"></div>
    <div class="addTaskContainerSides">
      <div class="addTaskContainerBoxes">
        <p class="addTaskLabels">Due Date</p>
        <input
          id="dueDate"
          class="inputsAddTask height51"
          type="date"
          required
          placeholder="dd/mm/yyyy"
        />
      </div>
      <div class="addTaskContainerBoxes">
        <p class="addTaskLabels">Prio</p>
        <div id="prioContainer">
          <button
            id="urgent"
            type="button"
            onclick="assignPrio('urgent')"
            class="prio height51"
          >
            Urgent <img src="assets/img/urgent.png" />
          </button>
          <button
            id="medium"
            type="button"
            onclick="assignPrio('medium')"
            class="prio height51"
          >
            Medium <img src="assets/img/medium.png" />
          </button>
          <button
            id="low"
            type="button"
            onclick="assignPrio('low')"
            class="prio height51"
          >
            Low <img src="assets/img/low.png" />
          </button>
        </div>
      </div>
      <div class="addTaskContainerBoxes">
        <p class="addTaskLabels">Subtasks</p>
        <div>
          <div class="addSubTask height51">
            <input id="inputSubtask" placeholder="Add new subtask" />
            <div class="buttonAddSubTask" onclick="addSubTask()">
              <img src="assets/img/plus.png" />
            </div>
          </div>
          <div id="subTasks"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="finalizeTask">
    <button type="button" onclick="clearTask()" class="buttonAddTask clear">
      Clear <img src="assets/img/x.png" />
    </button>
    <button type="submit" class="buttonAddTask create">
      Create Task <img src="assets/img/done_white.png" />
    </button>
  </div>
</form>
