#sidebar{
    background-color: #2A3647;
    color: #A4A7AB;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 16%;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

#sidebar_logo{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

#sidebar_categories{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:100%;
    font-size: 20px;
    margin: 160px 0;
    gap: 15px;
}

.sidebar_category{
    display: flex;
    justify-content:center;
    align-items: center;  
    object-fit: cover;
    width: 100%;    
    height: 48px;
    cursor: pointer;
}

.sidebar_category:hover{
    background-color: #091931;
    color: #FFFFFF;
}    

.active_category{
    background-color: #091931;
    color: #FFFFFF;
}

.sidebar_category_line{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;  
}

.sidebar_category_line a{
    text-decoration: none;
    color:inherit;    
}

.sidebar_category_line a:hover{
    color: #FFFFFF;
}


.category_img {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#sidebar_policies{
    flex: 1;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 30%;
    gap: 12px;
}

#sidebar_policies a{
    text-decoration: none;
    color: #919296;
}

#sidebar_policies a:hover{
    color: #FFFFFF;
}

#topbar{
    position: absolute;
    top: 0;
    right: 0;
    left: 16%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    box-shadow: 2px 3px 0 rgba(0, 0, 0, 0.1);
}

#topbar_text{
    padding-left: 8%;

}

#topbar_icons{
    padding-right: 40px;
    display: flex;
    gap: 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#topbar_Icons_Username{
    width: 50px;
    height: 50px;
    border: 3px solid black;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: aqua;
    cursor: pointer;
}



/* Ab hier Style_Summary
*
*
*
*/
#sumamry{
    background-color: #F6F7F8;
}

#summary_container_top{
    display: flex;
    gap: 30px;
}

#summary_top_text{
    font-size: 60px;
    font-weight: bold;    
}

#summary_top_stroke{
    height: 100%;
    border-right: 4px solid black;
}

#summary_top_title{
    height: 100%;
    align-items: center;
    font-size: 28px;
}


