#summary{
    font-family: "Inter";
    height: 100vh;
    background-color: #F6F7F8;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#summary_container_top{
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 328px;
    padding-top: 206px;
}

#summary_top_text{
    font-size: 60px;
    font-weight: bold;    
}

#summary_top_stroke{
    height: 100%;
    border-right: 4px solid rgb(197, 32, 230);
}

#summary_top_title{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 28px;
}

#summary_container_bottom{
    display: flex;
    align-items: center;
    padding-left: 328px;
    gap: 80px;
}

#summary_container_bottom_left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 560px;
    height: 560px;
}

#summary_bottom_stats_top{
    display: flex;
    height: 170px;
    width: 100%;    
    justify-content: space-between;
}

.summary_bottom_stats_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 168px;
    background-color: #FFFFFF;
    border-radius: 30px;
}

.summary_number{
    font-size: 64px;
    font-weight: 600;
    width: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
}   


.summary_bottom_stats_container_text{
    font-size: 21px;
    font-weight: 400;
    max-width: 86px;
    display: flex;
    text-align: center;
    color:#2A3647;
    flex-wrap: wrap;
    line-height: 21px;
}

#summary_bottom_stats_mid{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 168px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 30px;   
}

#summary_bottom_stats_mid_left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

#summary_bottom_stats_mid_left img{
    width: 60px;
    height: 60px;
}

#summary_bottom_stats_mid_left_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#summary_bottom_stats_mid_mid{
    border: 2px solid black;
    height: 102px;
}

#summary_bottom_stats_mid_right{
    display: flex;
    flex-direction: column;
    gap: 13px;
}

#summary_bottom_stats_mid_right_date{
    font-size: 21px;
    line-height: 25px;
    font-weight: 700;
}

#summary_bottom_stats_mid_right_text{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

#summary_bottom_stats_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.summary_bottom_stats_bottom_container{
    width: 264px;
    height: 168px;
    border-radius: 30px;
    background-color: #FFFFFF;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary_bottom_stats_bottom_container img{
    width: 69px;
    height: 69px;
    display: flex;
    justify-content: flex-end;
}

.summary_bottom_stats_bottom_stat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.summary_text{
    font-size: 20px;
}

#summary_container_bottom_right{
    display: flex;
    flex-direction: column;
    width: 385px;
    height: 136px;
    gap: 3px;

}

#summary_container_bottom_right_greeting{
    font-size: 47px;
    font-weight: 500;
    line-height: 56px;
}

#summary_container_bottom_right_Name{
    font-size: 64px;
    font-weight: 700;
    color: #29ABE2;
    display: flex;
    white-space: nowrap;
}